<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookPOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BookPOS.My.MySettings.DBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BookPOS.My.MySettings>
            <setting name="backgroundColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="buttonForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="buttonFont" serializeAs="String">
                <value>Comic Sans MS, 12pt</value>
            </setting>
            <setting name="buttonColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
        </BookPOS.My.MySettings>
    </userSettings>
</configuration>